.blog__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog__item-pack {
  width: calc(50% - 1.5rem);
}
.blog__item-pack:nth-child(n + 3) {
  margin-top: 3rem;
}
.blog__item {
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 2px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: itemFadeOut 1s linear;
}
.blog__item-link {
  display: inline-block;
  margin: 1.5rem 1.5rem 0;
}
.blog__item-img {
  width: 100%;
  max-height: 25rem;
}
.blog__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5rem;
}
.blog__item-date {
  display: inline-block;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
.blog__item--large {
  height: 100%;
  max-height: 100%;
}
.blog__item--large .blog__item-text-container {
  padding: 1.5rem;
}
.blog__item--small {
  display: flex;
  flex-direction: row-reverse;
  padding: 1.5rem;
}
.blog__item--small:not(:last-child) {
  margin-bottom: 3rem;
}
.blog__item--small .blog__item-image-container {
  min-width: 12rem;
  overflow: hidden;
}
.blog__item--small .blog__item-img {
  width: 12rem;
  margin-left: 1.5rem;
}
@media (max-width: 54em) {
  .blog__item-pack {
    width: calc(100%);
  }
  .blog__item-pack:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}
@media (max-width: 35em) {
  .blog__item-pack:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .blog__item-link {
    margin: 1rem 1rem 0;
  }
  .blog__item .heading-tertiary {
    font-size: 2.1rem;
  }
  .blog__item-footer {
    padding: 1rem;
  }
  .blog__item-date {
    font-size: 1.1rem;
  }
}
