@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../fonts/Lato-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url(../fonts/Raleway-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: url(../fonts/Raleway-Bold.ttf);
  font-display: swap;
}
@keyframes itemFadeOut {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
section {
  padding: 5rem 0;
}
body,
section:nth-of-type(odd) {
  background-color: rgb(247, 247, 247);
}
section:nth-of-type(even) {
  background-color: #fff;
}
.section__heading {
  text-align: center;
  margin-bottom: 7rem;
}
.wrapper {
  width: 114rem;
  margin: 0 auto;
}
.heading-primary {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
}
.heading-secondary {
  display: inline-block;
  position: relative;
  font-weight: 700;
  font-size: 4rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.heading-secondary::after {
  position: absolute;
  content: "";
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  width: 5rem;
  background-color: #000;
}
.heading-secondary-subheading {
  display: block;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.heading-tertiary {
  display: inline-block;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  color: #000;
}
.heading-tertiary-subheading {
  margin-top: 0.5rem;
  display: block;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
}
.heading-quarternary {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
.paragraph {
  font-size: 1.7rem;
  line-height: 1.48;
}
.btn {
  display: inline-block;
  transition: all 0.25s ease;
}
.btn--red {
  background-color: #cc3234;
  color: #fff;
}
.btn--black {
  background-color: transparent;
  border-color: #000;
  border: 2px solid #000;
  color: #000;
  transition: all 0.25s ease;
}
.btn--black:hover {
  background-color: #000;
  color: #fff;
}
.btn--large {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px -5px;
  transform: translateZ(0);
}
.btn--large:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px -10px;
}
.btn--medium {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}
.navigation {
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 2px 8px rgba(0, 0, 0, 0.12);
  animation: fadeInDown 0.5s 0.1s backwards;
}
.navigation__list,
.navigation__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__list {
  position: relative;
  justify-content: center;
}
.navigation__links {
  transform: translateX(2.1rem);
}
.navigation__logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.navigation__logo-img {
  height: 4rem;
}
.navigation__item:not(:last-of-type) {
  margin-right: 4rem;
}
.navigation__item:nth-of-type(2) {
  margin-right: 30rem;
}
.navigation__link {
  position: relative;
  color: #cc3234;
  font-size: 1.6rem;
  font-weight: 700;
}
.navigation__link::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #cc3234;
  transition: width 0.25s ease;
}
.navigation__link:hover::after,
.navigation__link.active::after {
  width: 2.5rem;
}

.mobile-navigation {
  display: none;
  z-index: 3;
}
.mobile-navigation__checkbox {
  display: none;
}
.mobile-navigation__button {
  position: fixed;
  right: 5%;
  top: 1rem;
  display: none;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 5;
}
.mobile-navigation__icon {
  position: relative;
}
.mobile-navigation__icon,
.mobile-navigation__icon::before,
.mobile-navigation__icon::after {
  display: inline-block;
  height: 3px;
  width: 2.5rem;
  background-color: #cc3234;
  transition: all 0.2s;
}
.mobile-navigation__icon::before,
.mobile-navigation__icon::after {
  position: absolute;
  content: "";
}
.mobile-navigation__icon::before {
  top: -0.9rem;
}
.mobile-navigation__icon::after {
  bottom: -0.9rem;
}
.mobile-navigation__checkbox:checked
  ~ .mobile-navigation__button
  .mobile-navigation__icon,
.mobile-navigation__checkbox:checked
  ~ .mobile-navigation__button
  .mobile-navigation__icon::before,
.mobile-navigation__checkbox:checked
  ~ .mobile-navigation__button
  .mobile-navigation__icon::after {
  background-color: #fff;
}
.mobile-navigation__background {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: #cc3234;
  transition: width 0.8s ease-out;
  z-index: 4;
}
.mobile-navigation__checkbox:checked ~ .mobile-navigation__background {
  width: 100%;
}
.mobile-navigation__content {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow-y: scroll;
  transition: all 0.5s ease;
}
.mobile-navigation__checkbox:checked ~ .mobile-navigation__content {
  visibility: visible;
  opacity: 1;
}
.mobile-navigation__link {
  display: block;
  font-weight: 700;
  font-size: 4rem;
  color: #fff;
  transform: translateX(50rem);
  transition: transform 0.9s ease-out;
}
.mobile-navigation__checkbox:checked
  ~ .mobile-navigation__content
  .mobile-navigation__link {
  transform: translateX(0);
}
.mobile-navigation__item:not(:last-of-type) {
  margin-bottom: 2rem;
}
.expand-button-container {
  text-align: center;
  margin-top: 3rem;
}
.expand-button {
  cursor: pointer;
}
.partners-section {
  padding: 3rem 0;
}
.partners__container {
  display: flex;
  justify-content: space-evenly;
}
.partners__img {
  height: 7rem;
}
@media (max-width: 75em) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 54em) {
  .navigation {
    padding: 3rem 0;
  }
  .navigation__logo-container {
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }
  .navigation__item {
    display: none;
  }
  .navigation__logo-container {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
  .mobile-navigation {
    display: flex;
  }
  .mobile-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    width: calc(100% - 6rem);
  }
}
@media (max-width: 47.5em) {
  .wrapper {
    width: calc(100% - 3rem);
  }
  .section__heading {
    margin-bottom: 4rem;
  }
  .heading-secondary {
    font-size: 3.5rem;
  }
}
@media (max-width: 39.75em) {
  .partners__container {
    flex-direction: column;
    align-items: center;
  }
  .partners__img:not(:last-of-type) {
    margin-bottom: 5rem;
  }
}
@media (max-width: 35em) {
  .expand-button-container {
    margin-top: 2rem;
  }
}
@media (max-width: 25em) {
  .btn--large {
    padding: 1.2rem 2.6rem;
    font-size: 1.8rem;
  }
}
